extends layout

block content
  h1#title= "Reprofile"
  h2 GitHub Repo Parser
  if authorised
    h2 Welcome, #{username}.
    p Please visit the Users page for your profile.
  else
    h2 Log in with GitHub.
    p Please visit the Users page to get started.