body {
  padding: 25px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: rgb(225, 225, 225);
}

nav {
	width: 100%;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	margin: 0 2%;
	display: inline;
}

nav a {
  font-size: 20px;
  color: rgb(225, 225, 225);
	text-decoration: none;
}

nav a:hover {
	text-decoration: none;
  color: mediumturquoise;
}



li {
  list-style-type: none;
}