body {
  padding: 0px;
  margin: 0px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(27, 23, 19);
  color: rgb(225, 225, 225);
}

.content {
  padding: 0px 50px;
}

nav {
  margin: 0px;
  height: 60px;
  vertical-align: text-bottom;
}

nav ul {
	margin: auto;
	padding: 30px;
}

nav li {
	margin: 0 10%;
	display: inline;
}

nav a {
  font-size: 20px;
  color: rgb(225, 225, 225);
	text-decoration: none;
}

nav a:hover {
	text-decoration: none;
  color: rgb(21, 88, 85);
}

div {
  margin: 65px 0px;
}

.contact {
  margin: 25px 0px;
  padding: 25px;
  background-color: rgb(21, 88, 85);
  width: 60%;
}

.repos {
  margin: 0px 0px;
}

.repo {
  margin: 10px 0px;
  padding: 20px;
  background-color: rgb(21, 88, 85);
  width: auto;
}

#title {
  text-align: center;
  font-size: 80px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
}

form li {
  margin: 15px 0;
}

form label:hover {
  color:  rgb(38, 173, 167);
  font-weight: bold;
}

.language {
  margin: 5px 0px;
  padding-top: 7px;
}

.languagemessage {
  font-size: 14px;
  display: inline;
  padding-right: 10px;
}

.languages {
  display: inline;
}

.languages li {
  display: inline;
}

.languages li p {
  display: inline;
  padding-right: 10px;
}

form input:checked+span {
  color:  rgb(38, 173, 167);
  font-weight: bold;
}

.url {
  font-size: 11px;
  color: rgb(225, 225, 225);
  margin: 10px 0px;
}

.middle {
  text-align: center;
}